.content {
	font-size: 1.2rem;
	margin-bottom: 20px;
}

.content table {
	margin-bottom: 20px;
}

.inline {
	display: inline;
}

.right {
	position: absolute;
	top: 3px;
	right: 10px;
}

.form-control {
	max-width: 82%;
	margin: 15px auto;

}

header img {
	width: 27%;
	max-width: 250px;
	margin: 10px;
}

body {
	background-color: #F3F3F3 !important;
}

.content .btn {
	font-weight: bold;
	font-size: 1.1rem;
}

.btn-entrar {
	width: 40%;
	max-widht: 500px;
	background: #24838A;
	color: white;
	padding: 10px;
	box-shadow: 1px 1px 5px 1px lightgray;
	margin: 0px auto;
}

.btn:enabled:hover, .btn-img:hover {
	cursor: pointer;
	filter: brightness(108%);
}

h1.title {
	text-align: center;
	color: #24838a;
	font-weight: bold;
	font-size: 195%;
}

.toolbar {
	position: fixed;
	top: 0px;
	background-color: white;
	box-shadow: 2px 2px 4px 1px lightgray;
	padding: 5px;
	width: 100%;
	z-index: 1;

}

select.lista {
	display: block;
	width: 80%;
	margin: 30px auto;
	padding: 7px;
	border-radius: 5px;
	text-indent: 5px;
}

div.content {
	text-align: center;
	margin-top: 80px;
	margin-bottom: 30px;

	header {
		text-align: center;
        	display: flex;
        	flex-direction: column;
        	align-items: center;
		margin-top: 100px;

        	h1 {
        		font-weight: 450;
        		font-size: 20px;
		}
	}

	form {
		margin-top: 5%;
		padding-left: 5px;
		padding-right: 5px;
	}
}

table {
	margin: 10px auto;
}

.btn-cancelar {
	font-weight: bold;
	width: 40%;
	max-widht: 500px;
	box-shadow: 1px 1px 5px 1px lightgray;
	background: #FFC409;
}

img.icono {
	width: 60px;
	margin: 0px;
}

img.mini-icono {
	width: 45px;
	margin: 0px;
}

footer {
	position: fixed;
	bottom: -10px;
	width: 100%; 

}

footer table {
	width: 100%; 
	text-align: center;
}

footer td {
	border: 1px solid;
	padding:5px;
}

footer td:hover {
	background-color: #FAFAFA;
	cursor: pointer;
}

.error {
	color: red;
}

.resultado, .resultado-error {
	position: fixed;
	top: 40%;
	left: 10%;
	font-size: 1.3rem;
	width: 85%;
	border-radius: 10px 10px;
	box-shadow: 2px 2px 3px 2px gray;
	color: white;
	padding: 15px;
	display: none;
	z-index: 1;
}

.resultado {
	background-color:#2ED26F;
}

.resultado-error {
	background-color:#EB455B;
}

.card-option {
	display: inline-block;
	text-center;
	vertical-align: text-top;
	background: #fafafa;
	border-radius: 20px;
	box-shadow: 1px 1px 1px 2px #90e0e0;
	padding: 20px;
}

