#out {
	margin-rigth: 40%;
	font-size: 180%;
	color: #088484;
	padding: 100px;
}

div.admin {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
        text-align: center;
	border-radius: 5px 5px;
	padding: 30px;
	background: #FAFAFA;
	box-shadow: 1px 1px 5px 1px lightgray;
	display: none;
}


