<html>
<head>
	<title>Formulario</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="css/formulario.css">
	<link rel="stylesheet" type="text/css" href="css/global.css">
	<link rel="stylesheet" href="css/bootstrap.min.css">
</head>
<body style="background-color: #F3F3F3;">

<div class="toolbar">
	<h1 class="title">SYN-TEX</h1>
	<!-- Añadir logout -->
</div>

<ion-content>

	<div id="content">
		<div id="header">
			<h1>Traspasos</h1>
			<img src="img/traspaso.png" alt="">
		</div>
		<form *ngFor="let invent of invent" id="form" [formGroup]="form">
			<ion-grid>
				<ion-row>
					<ion-col>
						<ion-item lines="none">
							<ion-label id="label">NC:</ion-label>
						</ion-item>
					</ion-col>
					<ion-col size="7">
						<ion-item lines="none" color="light" id="input">
							<ion-input type="text" [disabled]="true" value="{{invent.I_NumControl}}"></ion-input>
						</ion-item>
					</ion-col>
				</ion-row>
				<ion-row>
					<ion-col>
						<ion-item lines="none">
							<ion-label id="label">Almacen O.:</ion-label>
						</ion-item>
					</ion-col>
					<ion-col size="7">
						<ion-item lines="none" color="light" id="input">
							<ion-input type="text" [disabled]="true" value="{{invent.I_Almacen}}"></ion-input>
						</ion-item>
					</ion-col>
				</ion-row>
				<ion-row>
					<ion-col>
						<ion-item lines="none">
							<ion-label id="label">Stock:</ion-label>
						</ion-item>
					</ion-col>
					<ion-col size="7">
						<ion-item lines="none" color="light" id="input">
							<ion-input type="number" [disabled]="true" value="{{invent.I_Stock}}"></ion-input>
						</ion-item>
					</ion-col>
				</ion-row>
				<ion-row>
					<ion-col>
						<ion-item lines="none">
							<ion-label id="label">Almacen D.:</ion-label>
						</ion-item>
					</ion-col>

					<ion-col size="7" [hidden]=almc>
						<ion-item lines="none" color="light" id="input">
							<ion-input [(ngModel)]="destino" formControlName="area_des" (click)="cambiarArea()"></ion-input>
						</ion-item>
						<div *ngIf="forml['area_des'].invalid && (forml['area_des'].dirty || forml['area_des'].touched )"
							class="invalid-feedback">
							<p class="val" *ngIf="forml['area_des'].errors?.['required']">
								Valor requerido
							</p>
						</div>
					</ion-col>

					<ion-col size="7" [hidden]=prdc>
						<ion-item lines="none" color="light" id="input">
							<ion-input [(ngModel)]="destino" formControlName="area_des" (click)="cambiarArea()"></ion-input>
						</ion-item>
						<div *ngIf="forml['area_des'].invalid && (forml['area_des'].dirty || forml['area_des'].touched )"
							class="invalid-feedback">
							<p class="val" *ngIf="forml['area_des'].errors?.['required']">
								Valor requerido
							</p>
						</div>
					</ion-col>

					<ion-col size="7" [hidden]=rchz>
						<ion-item lines="none" color="light" id="input">
							<ion-input [(ngModel)]="destino" formControlName="area_des" (click)="cambiarArea()"></ion-input>
						</ion-item>
						<div *ngIf="forml['area_des'].invalid && (forml['area_des'].dirty || forml['area_des'].touched )"
							class="invalid-feedback">
							<p class="val" *ngIf="forml['area_des'].errors?.['required']">
								Valor requerido
							</p>
						</div>
					</ion-col>

				</ion-row>
				<ion-row>
					<ion-col>
						<ion-item lines="none">
							<ion-label id="label">No. Orden:</ion-label>
						</ion-item>
					</ion-col>
					<ion-col size="7">
						<ion-item lines="none" color="light" id="input">
							<ion-icon name="camera" color="primary" slot="start" (click)="scan()"></ion-icon>
							<ion-input [(ngModel)]="orden" formControlName="no_orden"
								placeholder="Escanear código"></ion-input>
						</ion-item>
						<div *ngIf="forml['no_orden'].invalid && (forml['no_orden'].dirty || forml['no_orden'].touched ) "
							class="invalid-feedback">
							<p class="val" *ngIf="forml['no_orden'].errors?.['required']">Requerido</p>
							<p class="val" *ngIf="forml['no_orden'].errors?.['minlength']">Logitud de más de 5 digitos</p>
						</div>
					</ion-col>
				</ion-row>
				<br>
				<ion-row align="center">
					<ion-col>
						<ion-button [disabled]="!form.valid || aplicarBtn" (click)="aplicar()" size="default" type="submit"
							fill="solid">
							Aplicar
						</ion-button>
					</ion-col>
					<ion-col>
						<ion-button (click)="cancelar('middle')" color="warning" size="default" type="submit" fill="solid">
							Cancelar
						</ion-button>
					</ion-col>
				</ion-row>
			</ion-grid>
		</form>
	</div>

</ion-content>

</body>
</html>